{% extends 'music/mbase_visitor.html' %}

{% block body %}
{% load staticfiles %}

<div class="had-container">

	     <div class="parallax-container logueo">
      	<div class="parallax"><img src="{% static 'music/images/abc.png' %}"></div>
      	<div class="row"><br>
      		<div class="col m8 s8 offset-m2 offset-s2 center"   style="color: aliceblue;">
  <h4>
    We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
  </h4>
  <br>
  <hr>
  <h4>
    If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
  </h4>
  </div>
  </div>
  </div>
  </div>
{% endblock %}