{% extends 'music/mbase_visitor.html' %}

{% block body %}
{% load staticfiles %}

<div class="had-container">

	     <div class="parallax-container logueo">
      	<div class="parallax"><img src="{% static 'music/images/abc.png' %}"></div>
      	<div class="row"><br>
      		<div class="col m8 s8 offset-m2 offset-s2 center"   style="color: aliceblue;">
  <p>
    Your password has been set. You may go ahead and <a href="{% url 'signin' %}">sign in</a> now.
  </p>

   </div>
  </div>
  </div>
  </div>

{% endblock %}